:root {
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --grey: #687280;
  --white: #eee;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

body {
  /* color: var(--white); */
  background-color: #374151;
  height: 100vh;
  padding-top: 15px;
  padding-bottom: 15px;
}

.container {
  margin-top: 1 20px;
  margin: auto;
  width: 500px;
  height: 100%;
  border: solid 3px var(--darkest);
}
header {
  padding: 2rem 1rem;
  width: 100%;
  margin: auto;
}

h1 {
  font-weight: 300;
  margin-bottom: 2rem;
  height: 60px;
  color: var(--grey);
  text-align: center;
}

#task {
  display: flex;
}

h2 {
  text-align: center;
  padding: 1rem 1rem;
  margin: auto;
  font-size: 25px;
  color: var(--darkest);
}

input,
button {
  border: none;
  outline: none;
  background: none;
  appearance: none;
}

#what-to-do {
  flex: 1 1 0%;
  background-color: var(--darker);
  padding: 1rem;
  border-radius: 20px;
  font-size: 1.125rem;
  -webkit-text-fill-color: var(--grey);
}

#what-to-do:focus::-webkit-input-placeholder {
  -webkit-text-fill-color: transparent;
}

#add-task {
  font-size: 25px;
  color: rgb(130, 172, 251);
  transition: 0.4s;
  cursor: pointer;
}

#add-task:hover {
  opacity: 0.5;
}

#add-task:active {
  color: var(--white);
  opacity: 0.2;
}

main {
  flex: 1 1 0%;
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.task-list {
  display: flex;
  justify-content: space-between;
  background-color: var(--darkest);
  border-radius: 1rem;
  padding: 10px;
  margin-bottom: 1rem;
}

.text {
  display: block;
  font-size: 1.125rem;
  transition: 0.4s;
  -webkit-text-fill-color: var(--white);
}

.task-content .text:not(:read-only) {
  -webkit-text-fill-color: cyan;
}

/* .task-content .text:not(:read-only):focus::-webkit-input {
  -webkit-text-fill-color: transparent;
} */

.task-actions {
  display: flex;
  font-size: 1.125rem;
  transition: 0.4s;
}

.edit {
  -webkit-text-fill-color: crimson;
}

.delete {
  -webkit-text-fill-color: cornflowerblue;
}

.edit:hover {
  opacity: 0.7;
  cursor: pointer;
}
.delete:hover {
  opacity: 0.7;
  cursor: pointer;
}

.edit:active {
  opacity: 0.4;
}
.delete:active {
  opacity: 0.4;
}
